{% extends 'base.html' %}

{% block body %}


<h4 align="center">取得結果</h4>

<br>
    <table class="border border-dark">
        <tr>
            {% for i in df3.columns %}
            <th class="border border-dark" width="120" bgcolor="#99CCFF">{{i}}</th>
            {% endfor %}
        </tr>
        {% for i in range(df3 | length()) %}
        <tr align="center" class="border border-dark">
            {% for j in range(df3.columns|count) %}
            <td align="right" style="font-family: monospace" class="border border-dark">
                {{df3.iloc[i,j]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}