{% extends 'base.html' %}

{% block body %}


<h4 align="center">{{date}}取得結果</h4>

<br>
<table class="border border-dark">
    <tr>
        {% for i in df.columns %}
        <th align="center" class="border border-dark" width="120" bgcolor="#99CCFF">{{i}}</th>
        {% endfor %}
    </tr>
    {% for i in range(df|length()) %}
    <tr align="center" class="border border-dark">
        {% for j in range(df.columns|count) %}
        <td align="center" style="font-family: monospace" class="border border-dark">
            {{df.iloc[i,j]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}