{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
    <form action="?" method="post">
        <div class="row align-items-start">
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="SG" id="flexCheckSG" name="flexCheckSG">
                        <label class="form-check-label" for="flexCheckSG">
                            SG
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="G1" id="flexCheckG1" name="flexCheckG1">
                        <label class="form-check-label" for="flexCheckG1">
                            G1
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="G2" id="flexCheckG2" name="flexCheckG2">
                        <label class="form-check-label" for="flexCheckG2">
                            G2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="G3" id="flexCheckG3" name="flexCheckG3">
                        <label class="form-check-label" for="flexCheckG3">
                            G3
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="一般" id="flexChecknon1"
                            name="flexChecknon1">
                        <label class="form-check-label" for="flexChecknon1">
                            一般
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="その他一般" id="flexChecknon2"
                            name="flexChecknon2" checked>
                        <label class="form-check-label" for="flexChecknon2">
                            その他G3一般競走
                        </label>
                    </div>
                </div>
            </div>
            　※その他G3一般競走は女子戦、シリーズ戦、3Days等の特定の競走を除いた競走である
            <div class="col-8">
                <div class="alert alert-success" role="alert">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioMorning"
                            value="M">
                        <label class="form-check-label" for="flexRadioMorning">
                            モーニング開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioDaySummer"
                            value="D&S">
                        <label class="form-check-label" for="flexRadioDaySummer">
                            デイ・薄暮開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioDay" value="D">
                        <label class="form-check-label" for="flexRadioDay">
                            デイ開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioSummer"
                            value="S">
                        <label class="form-check-label" for="flexRadioSummer">
                            薄暮開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioNM" value="N&M"
                            checked>
                        <label class="form-check-label" for="flexRadioNM">
                            ナイター・ミッド開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioNighter"
                            value="N">
                        <label class="form-check-label" for="flexRadioNighter">
                            ナイター開催
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiokubun" id="flexRadioMid" value="MN">
                        <label class="form-check-label" for="flexRadioMid">
                            ミッドナイト開催
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="alert alert-warning" role="alert">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiosyukei" id="flexRadioMonth"
                            value="month" checked>
                        <label class="form-check-label" for="flexRadioMonth">
                            月集計
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiosyukei" id="flexRadioQuater"
                            value="quater">
                        <label class="form-check-label" for="flexRadioQuater">
                            四半期集計
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiosyukei" id="flexRadioYear"
                            value="year">
                        <label class="form-check-label" for="flexRadioYear">
                            年集計
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="alert alert-danger" role="alert">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiouriage" id="flexRadioZentai"
                            value="zentai" checked>
                        <label class="form-check-label" for="flexRadioZentai">
                            全体売上
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadiouriage" id="flexRadioDenwa"
                            value="denwa">
                        <label class="form-check-label" for="flexRadioDenwa">
                            電話投票
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary" name="no6" formaction="/no6">実行</button>
        <button type="submit" class="btn btn-outline-secondary" name="no6" formaction="/">戻る</button>
    </form>

    {% if no == 'no6' %}
    <br>
    <table class="border border-dark">
        <tr>
            <th class="border border-dark" width="120" bgcolor="#99CCFF">期間</th>
            {% for i in df.columns %}
            <th class="border border-dark" width="120" bgcolor="#99CCFF">{{i.split(':')[1]}}</th>
            {% endfor %}
        </tr>
        {% for i in range(period|count) %}
        <tr align="center" class="border border-dark">
            <td style="font-family: monospace" class="border border-dark" bgcolor="#99CCFF">
                {% if request.form['flexRadiosyukei'] == 'month' %}
                <b>{{period[loop.index0][0][:6]}}</b>
                {% elif request.form['flexRadiosyukei'] == 'quater' %}
                <b>{{period[loop.index0][0]}}-{{period[loop.index0][1][4:8]}}</b>
                {% elif request.form['flexRadiosyukei'] == 'year' %}
                <b>{{period[loop.index0][0][:4]}}年度</b>
                {% endif %}
            </td>
            {% for j in range(df.columns|count) %}
            <td align="right" style="font-family: monospace" class="border border-dark">
                {{"{:,}".format(df.iloc[i,j]|int //100 * 100)}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% endif %}
</div>

{% endblock %}